matplotlib==3.8.4
nose==1.3.7
jupyterlab==4.1.6
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
tqdm==4.66.2
lightning==2.2.2
torchmetrics==1.3.2 
tensorboard==2.16.2 
seaborn==0.13.2
umap-learn==0.5.6

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2

statsmodels==0.14.2
symengine>=0.6.0
timesynth @ git+https://github.com/TimeSynth/TimeSynth
tslearn==0.6.3